body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFFAFA;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}